header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: #ff4081;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.carrinho {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.carrinho ul {
  list-style: none;
  margin: 10px 0;
}

.carrinho li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.carrinho button {
  background: red;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.finalizar {
  background: #000;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
