* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

header {
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

.produto {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 5px;
}

.produto h3 {
  margin: 10px 0;
}

.produto p {
  font-weight: bold;
  margin-bottom: 10px;
}

.produto button {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.produto button:hover {
  background: #333;
}
